fastapi
uvicorn
python-dotenv
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
google-generativeai
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-ollama
supabase
pydantic
pydantic-settings
requests
cryptography>=42.0.0
pytest
python-multipart


